<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Covid19 Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

</head>

<body>
	<div class="container">
		<h1>CoronaVirus Tracker Dashboard</h1>
	
		<div class="jumbotron jumbotron-fluid">
			<p class="lead">Total cases reported across the Country</p>
			<h1 class="display-4" th:text=${totalCases.confirmed}></h1>
		</div>

		<table class="table" id="myDataTable">
		<thead>
			<tr>
				<th scope="col">State/UT</th>
				<th scope="col">Confirmed</th>
				<th scope="col">Cases Reported Today</th>
				<th scope="col">Active</th>
				<th scope="col">Deaths</th>
				<th scope="col">Recovered</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="stateData : ${statesData}">
				<td th:text="${stateData.state}"></td>
				<td th:text="${stateData.confirmed}"></td>
				<td th:text="${stateData.deltaconfirmed}"></td>
				<td th:text="${stateData.active}"></td>
				<td th:text="${stateData.deaths}"></td>
				<td th:text="${stateData.recovered}"></td>
			</tr>
			</tbody>
		</table>
	</div>
	 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   	 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   	 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https:////cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			var table = $('#myDataTable').DataTable({
				"lengthMenu" : [ 10, 25, 50 ],
				"pageLength" : 50,
				"order" : [ 1, "desc" ]
			});
		});
	</script>
	
</body>

</html>
